* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #2c3a47;
	font-family: "Philosopher", sans-serif;
	color: #07000c;
	width: 100vw;
	overflow-x: hidden;
}

.container {
	width: 96vw;
	max-width: 1100px;
	margin: auto;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

p {
	font-family: "Raleway", sans-serif;
}

.nav {
	position: sticky;
	top: 0;
	z-index: 100;
	margin: 1rem 0;
}

.nav a {
	margin-top: 0.5rem;
	color: #ffffff;
	font-family: "Exo", sans-serif;
	font-weight: bold;
}

.nav a:hover {
	color: #07000c;
	transition: all 0.3s ease-in-out;
}

.menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu li:not(:last-child) {
	margin-right: 1rem;
}

.left-menu {
	display: flex;
	justify-content: center;
	align-items: center;
}

.right-menu {
	display: flex;
	justify-content: center;
	align-items: center;
}

.right-menu a {
	font-size: 1.5rem;
}

.image {
	display: flex;
	justify-content: center;
	/* align-items: center; */
}

.menu .image > img {
	margin-top: 0.5rem;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	cursor: pointer;
}

.posts {
	display: flex;
	/* grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem; */
	justify-content: center;
	align-items: center;
}

.card {
	margin-right: 2rem;
}

.card:last-child() {
	margin-right: 0;
}

.post {
	margin-top: 1rem;
}

.post > a {
	text-decoration: none;
}

.card {
	color: #ffffff;
	border-radius: 1rem;
	padding: 0.5rem;
	background-color: #25282c;
	box-shadow: 0 32px 32px -8px rgba(0, 0, 0, 0.4);
}

.card-header {
	margin-top: 0.3rem;
	padding: 0 1rem;
}

.card-header > h2 {
	color: #ffffff;
}

.blog-post {
	padding: 0 2rem;
	margin-bottom: 2rem;
	color: #ffffff;
}

.post-title {
	margin-bottom: 0.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

span {
	font-size: small;
}

.blog-post > img {
	width: 100%;
	margin-bottom: 0.5rem;
}

.blog-post p {
	line-height: 1.4;
	font-weight: bold;
}

.card-header > h2 {
	margin-bottom: 0.2rem;
}

.date {
	font-size: small;
}

.card-footer > p {
	line-height: 3.6;
}

.card-header .content {
	max-height: 120px;
	-webkit-line-clamp: 4;
}

.card-header .date {
	color: #686e78;
	margin-top: 0.5rem;
}

.card-body {
	margin: 0.3rem 0;
}

.card-body > img {
	width: 100%;
	border-radius: 1rem;
}

.card-footer {
	margin-bottom: 0.2rem;
	display: flex;
	place-content: center;
}

.card-footer i {
	color: #ffffff;
}

.card-footer .like {
	margin-right: 2rem;
}

@media (max-width: 1000px) {
	.posts {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 1000px) {
	.posts {
		grid-template-columns: repeat(3, 1fr);
		padding: 0 1rem;
	}
}

@media (max-width: 800px) {
	.posts {
		grid-template-columns: repeat(2, 1fr);
		padding: 0 2rem;
	}
}

@media (max-width: 600px) {
	.posts {
		grid-template-columns: 1fr;
		padding: 0 3rem;
	}
}
